  :root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Todos los hijos directos */
body > * {
    padding: 0px 5%;
}

ol, ul, li {
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/

.cabecera {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    padding: 15px 5%; /* Márgenes internos */
    background-color: #f8f9fa; /* Fondo claro */
    border-bottom: 2px solid #ddd; /* Línea divisoria inferior */
    max-width: 100%; /* Ajusta al ancho completo */
}

.cabecera__logo {
    max-width: 80px;
    height: auto; /* Mantén las proporciones */
}

.cabecera__titulo {
    font-size: 1.5rem; /* Tamaño del título */
    color: #333; /* Color del texto */
    margin: 0; /* Eliminar márgenes extra */
    text-wrap: nowrap;
}

.navegacion{
    margin-left: auto;
}

.navegacion__lista {
    display: none; /* Activa Flexbox */
    flex-direction: row; /* Organiza los elementos en línea horizontal */
    gap: 20px; /* Espaciado entre los enlaces */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina relleno */
}

.navegacion__correo{
    font-weight: 700;
}

.navegacion__elemento a {
    font-size: 0.9rem; /* Tamaño del texto */
    color: --color-de-link; /* Color de los enlaces */
    text-decoration: none; /* Elimina subrayado */
    padding: 5px 10px; /* Espaciado interno en los enlaces */
    transition: color 0.3s ease; /* Transición de color suave */
}

.navegacion__elemento a:hover {
    color: #0056b3; /* Color más oscuro al pasar el mouse */
}


/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion{
    display: flex;
    justify-content: space-between;
    flex-direction: column; /* Cambia el orden de los elementos a derecha-izquierda */
    padding-top: 20px; /* Espaciado superior para toda la sección */
    border-bottom: 2px solid #ddd; /* Línea divisoria inferior */
    max-width: 100%; /* Ajusta al ancho completo */
 }

.presentacion__foto{
    flex: 1 1 70%; /* Cambia de 20% a 100% en pantallas más pequeñas */
    max-width: 30%;
    height: auto;
}

.presentacion__contenedor{
   display: flex;
   justify-content: space-between;
   flex-direction: column; /* Apila los elementos verticalmente */
   gap: 8px; /* Espaciado entre el título, subtítulo y formulario */
   width: auto;
   margin: 0 auto; /* Centra horizontalmente */ 
   padding: 15px 0px;   
}

.presentacion__titulo{
    font-size: 32px; /* Tamaño grande para el título */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Espacio debajo del título */
    color: #464646;
   /* padding: 20px; */
}

.presentacion__subtitulo{
    font-size: 20px; /* Tamaño más pequeño que el título */
    font-weight: normal; /* Texto normal */
    margin-bottom: 20px;
    color: #464646;
  /*  padding: 20px;  */
}

.redes {  /* Lista de redes sociales */
    list-style: none; /* Elimina los puntos de lista */
    padding: 0;
    display: flex;
    gap: 15px; /* Espacio entre los elementos de la lista */
    align-items: center;  /* Alinea ítems al centro */
}

.redes__img a {
    text-decoration: none;
    color: #464646; /* Color azul para los enlaces */
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre texto e imagen */
    transition: color 0.3s ease;
}

.redes__img a:hover {
    color: #2c3e50; /* Cambia de color al pasar el mouse */
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi{
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD; /* Fondo para diferenciar la sección */
    justify-content: flex-start;
    
    border-bottom: 2px solid #ddd; /* Línea divisoria inferior */
    max-width: 100%; /* Ajusta al ancho completo */
}

.sobre-mi__contenido{
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    gap: 8px; /* Espaciado entre el título, subtítulo y formulario */
    align-items: flex-start; /* Asegura que los elementos ocupen todo el ancho del contenedor */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 15px 65px; 
    
}

.sobre-mi__titulo{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #464646; 
}

.sobre-mi__texto{
   font-size: 16px;
   margin-bottom: 10px;
   color: #464646;
}

.sobre-mi__firma{
    flex: 1 1 20%; /* Permite que ocupe un 30% flexible */
    max-width: 30%; /* Asegura que no exceda el 30% */
    height: auto; /* Mantiene las proporciones */
  /*  align-self: flex-start; /* Alinea el botón a la izquierda */ 
    margin: 15px 0; /* Centra horizontalmente */
 
}

/*------------------------------ Sección de Habilidades ------------------------------*/

.habilidades-y-aficciones {
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Ajusta al ancho del padre */
}

.habilidades-y-aficciones__titulo{
    font-size: 32px; /* Tamaño grande para destacar */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centra el texto */
    vertical-align: middle;
    color: #464646;
}

/* Lista de habilidades */
.habilidades-y-aficciones__lista {
    display: flex; /* Habilita Flexbox */
    flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias líneas */
    justify-content: space-between; /* Centra los elementos horizontalmente */
    gap: 30px 0px; /* Espaciado visible entre los elementos */
    padding: 0; /* Elimina el padding predeterminado del ul */
    margin: 20px auto; /* Centra horizontalmente el contenedor */
    list-style: none; /* Elimina los puntos de la lista */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Cada elemento de la lista */
.habilidades-y-aficciones__elemento {   
    display: flex; /* Usamos Flexbox */
    justify-content: flex-end; /* Centra los elementos dentro del contenedor */
    align-items: flex-start; /* Centra verticalmente si es necesario */
    flex-direction: column;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
    overflow: hidden; /* Asegura que no se salga contenido extra */
    
    width: 48%;
    height: calc(100vw*0.35);

    padding: 16px;
    transition: transform 0.3s ease; /* Efecto al pasar el mouse */
    transition: transform 0.3s ease; /* Efecto al pasar el mouse */
}

.habilidades__elemento:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

/* Ícono */
.habilidades__icono {
    bottom: 40px; /* Separación desde la parte inferior */
    left: 10px; /* Separación desde la izquierda */
    width: 32px; /* Tamaño del ícono más pequeño */
    height: auto;
}

/* Nombre de la habilidad */
.habilidades__nombre {
    bottom: 10px; /* Justo debajo del ícono */
    left: 10px; /* Alineado con el ícono */
    
    font-size: 14px;
    font-weight: bold; /* Negrita ligera */
    color: #555;
}

.habilidades__elemento img {
    max-width: 12%;  /* Hacer que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    display: block; /* Asegurar que no haya espacio extra debajo de la imagen */
}


/*------------------------------ Sección de Aficiones --------------------------------*/


.aficiones__icono {

    bottom: 40px; /* Separación desde la parte inferior */
    left: 10px; /* Separación desde la izquierda */
    width: 32px; /* Tamaño del ícono más pequeño */
    height: auto;
}

.aficiones__nombre {

    bottom: 10px; /* Justo debajo del ícono */
    left: 10px; /* Alineado con el ícono */
    font-size: 14px;
    font-weight: bold; /* Negrita ligera */
    color: #555;
}

.aficiones__elemento img {
    max-width: 12%;  /* Hacer que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    display: block; /* Asegurar que no haya espacio extra debajo de la imagen */
}


/*------------------------------ Sección de Formación --------------------------------*/

.formacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    width: 100%; /* Ajusta al ancho completo */

    background-color: #EAF2FD; /* Fondo para diferenciar la sección */
    border-bottom: 2px solid #ddd; /* Línea divisoria inferior */
    box-sizing: border-box; /* Incluye padding y border dentro del cálculo del ancho */ 
  }

.formacion__titulo {
    display: flex;
    font-weight: bold; /* Negrita */
    font-size: 32px; /* Tamaño grande para el título */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centra el texto */
    color: #464646;  
}

.formacion__lista {
    display: flex; /* Habilita Flexbox */
    flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias líneas */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 15px; /* Espaciado visible entre los elementos */
    padding: 0; /* Elimina el padding predeterminado del ul */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    list-style: none; /* Elimina los puntos de la lista */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los elementos en el eje vertical */
    align-items: flex-start; /* Centra los elementos en el eje horizontal */

    text-align: center; /* Centra el texto dentro del recuadro */
    overflow: hidden; /* Asegura que no se salga contenido extra */
    padding: 16px;
    gap: 8px;
    width: 100%;
}

.formacion__icono {
    padding: 30px 90%;  /*Relleno blanco */
    align-self: center;
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Añade un borde visible */
}

.formacion__nombre {
    font-size: 14px;
    font-weight: 500; /* Negrita ligera */
    color: #555;
    font-weight: bold; /* Negrita */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Asegura que no haya márgenes adicionales */
}

.formacion__detalle {
    font-size: 12px;
    font-weight: 500; /* Negrita ligera */
    color: #555;
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Asegura que no haya márgenes adicionales */
}

/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos {
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

.proyectos__titulo {
    font-size: 2rem; /* Tamaño grande para el título */
    font-weight: bold; /* Negrita */
    margin-bottom: 1.5rem; /* Espacio debajo del título */
    color: #464646; 
}

.proyectos__contenedor{
    display: flex;
    align-items: flex-start; /* Alinea los elementos superiores entre sí */
    justify-content: flex-start; /* Alinea todo hacia la izquierda */
    gap: 2rem; /* Espacio entre la imagen y los textos */
    max-width: 900px;
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proyectos__img {
    flex: 1 1 40%; /* Permite que ocupe un 40% flexible */
    max-width: 40%; /* Asegura que no exceda el 40% */
    height: auto; /* Mantiene las proporciones */
    margin: 0 auto; /* Centra horizontalmente */
 }

/* Contenedor para textos y botones */
.proyectos__contenido {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: flex-start;
    gap: 0.5rem; /* Espacio entre cada texto o botón */
}


.proyectos__nombre {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Asegura que no haya márgenes adicionales */
}

.proyectos__descripcion {
    font-size: 0.5rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: left;
}

/* Estilo para el botón */
.proyectos__boton {
    padding: 0.3rem 0.6rem; /* Reduce el relleno interno (padding) */
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    
}

.proyectos__boton:hover {
    background-color: #0056b3;
}

/*------------------------------ Sección de Contacto ---------------------------------*/


/* Estilos generales */
.contacto {
   display: flex;
   flex-direction: column; 
   width: 100%; /* Ocupa todo el ancho de la página */
   padding: 40px 20px; /* Espaciado interno arriba/abajo y en los lados */
   background-color: #EAF2FD; /* Fondo para diferenciar la sección */
   box-sizing: border-box; /* Incluye padding en el ancho total */
   gap: 8px;
   
    }

.contacto__img {
    flex: 1 1 30%; /* Permite que ocupe un 30% flexible */
    max-width: 30%; /* Asegura que no exceda el 30% */
    height: auto; /* Mantiene las proporciones */
  /*  align-self: flex-start; /* Alinea el botón a la izquierda */  
    margin: 0 auto; /* Centra horizontalmente */
    }

/* Contenedor del contenido textual y formulario */
.contacto__contenido {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    gap: 8px; /* Espaciado entre el título, subtítulo y formulario */
    align-items: stretch; /* Asegura que los elementos ocupen todo el ancho del contenedor */
    margin: 0 auto; /* Centra horizontalmente */
}

.contacto__titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #464646;
  }

.contacto__subtitulo {
   /*display: flex;  */
   font-size: 16px;
   margin-bottom: 20px;
   color: #464646;
}

.contacto__formulario {
    display: flex;
    flex-direction: column; /* Campos apilados verticalmente */
    gap: 10px; /* Espaciado entre los campos */
}

.contacto__campo {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto__campo--textarea {
    min-height: 100px;
}

.contacto__boton {
    align-self: flex-start; /* Alinea el botón a la izquierda */
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto__boton:hover {
    background-color: #0056b3;
}

/*------------------------------ Sección de Pie de Página ---------------------------------*/

.footer{
    background-color: #FFFFFF;
    padding: 32px;
    gap: 10px;
}

.footer_parrafo{
    text-align: center;
}

/* ------------------------------ Responsividad ---------------------------------------*/



/* Estilos generales para tablet*/
@media (min-width: 768px) {
    /*Presentacion*/
    .presentacion{
        flex-direction: row-reverse;
        align-items: center;
        gap: 15px;
        width: auto;
    }

    .presentacion__foto{
        width: 20%;
        height: 20%;
    }

    .sobre-mi__firma {
        max-width: 20%;
    }

    .habilidades-y-aficciones__elemento {
        width: 30%;
        height: calc(100vw* 0.16);
    }

    .formacion__icono {
        padding: 30px 20%;
        border: none;
    }

    .formacion__lista{
        flex-direction: row;
    }

    .formacion__elemento{

        width:32%;
    }

}


/* Estilos para desktop */
@media (min-width: 1024px){
    .navegacion__lista {
        display: flex;
    }
    .navegacion__correo{
        display: none;
    }
}








